h3{
 font-size: 25px !important;
}
.btn-success:hover{
 background-color: darkgreen;
 
}
canvas{
    animation-name: color_wheel;
    animation-duration:4s ;
    animation-iteration-count: infinite;
}
@keyframes color_wheel {
    from{
        box-shadow:1px 1px 40px yellow ;
    }
    to{
        box-shadow:1px 1px 40px cyan ;
    }
}